.projectsBlock {
    min-height: 100vh;
    background-color: #719ef3;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

 }
.title{
    border: 1px solid;
    background-color: #8c7d8b;
}
.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}