.skillsBlock {
    background-color: #8c7d8b;
    min-height: 100vh;
}

.containerSkills {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
}

.title{
    border: 1px solid;
    background: darkgray;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 629px){
    .skills{
        justify-content: center;
    }
}