@import "../../common/styles/variables";
@import "../../common/styles/mixin";

.workScheduleBlock {
  min-height: 44vh;
  background-color: $bgSecondColor;

  .workScheduleContainer {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .button {
      margin-top: 30px;
      @include text($titleFontFamily, 1.2, 16px);
      background-color: $primaryColor;
      padding: 12px;
      user-select: none;
    }
  }
}
