.workScheduleBlock{
    min-height: 40vh;
    background-color: #6fa7a9;
}
.workScheduleContainer{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{

}
.button{

}