@import "../styles/variables";
@import "../styles/mixin";

.title {
  margin: 0 0 30px;
  position: relative;

  &::before {
    content: "";
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    transform: translate(-50%, 50%);
    left: 50%;
  }

  h2 {
    @include text($titleFontFamily, 1.2, 36px);
    margin: 0;
    font-weight: 400;
    color: $textColor;
    text-transform: capitalize;
    letter-spacing: 5px;
  }
}

