@import "../../common/styles/variables";
@import "../../common/styles/mixin";

.footerBlock {
  padding: 40px 0;
  min-height: 25vh;
  background-color: $bgSecondColor;

  .footerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .title {
      @include text($titleFontFamily, 1.2, 22px);
      letter-spacing: 3px;
      font-weight: 700;
    }

    .iconsContainer {
      width: 260px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .copyright {

    }
  }
}



